{% extends "bootstrap/base.html" %}

{% block title %}Test Big Data{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap-3.3.5.min.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-3.3.5.min.js') }}"></script>
{% endblock %}
    


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        MDM <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('mdm_tbd') }}">Test Big Data</a></li>
                        <li><a href="{{ url_for('mdm') }}">Manual data</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Configure <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">configure 1</a></li>
                        <li><a href="#">configure 2</a></li>
                        <li><a href="#">configure 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, any question, please contact with {{ name }}@qti.qualcomm.com!</h1>
    </div>
</div>
{% endblock %}